<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send"><br>
    {{ room_name|json_script:"room-name" }}

    <script>
        const roomName= JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        const log = document.querySelector("#chat-log");
        const input = document.querySelector("#chat-message-input");
        const submit = document.querySelector("#chat-message-submit");

        chatSocket.onmessage = (e) => {
            const data = JSON.parse(e.data);
            log.value += (data.message + '\n')
        };

        chatSocket.onclose = (e) => {
            console.error("Chat socket close unexpectedly")
        }
        input.focus();
        input.onkeyup = (e) => {
            if (e.keyCode ==13) {  //enter or return
                submit.click()
            }
        };

        submit.onclick = (e) => {
            const messageInputDom = input 
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify(
                {'message': message}
            ));
            messageInputDom.value = ''; 
        }
    </script>
</body>
</html>